<!--       <nav class="secondary_nav blog_nav">
        <ul>
          <li><a href="blog/categories"{{ if is_current || is_parent }} class="current"{{ endif }}>categories</a></li>
          <li><a href="blog/archive"{{ if is_current || is_parent }} class="current"{{ endif }}>archive</a></li>
          <li class="parent"><a href="#">search</a>
            <ul class="subnav">
              <li>
                <form class="search" role="search" action="">
                  <input type="text" placeholder="search" />
                  <button class="btn"><i class="icon-search"></i></button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </nav> -->