{{ if {raven:has_errors} }}

{{ raven:errors }}
    
  {{ if missing }}
  <div class="error-block">
    <h2>Missing fields:</h2>
    <ul>
      {{ missing }}
        <li><strong>{{ field }}</strong></li>
      {{ /missing }}
    </ul>
  </div>
  {{ endif }}

  {{ if invalid }}
  <div class="error-block">
    <h2>Invalid fields:</h2>
    <ul>
      {{ invalid }}
        <li><strong>{{ field }}</strong>: {{ message }}</li>
      {{ /invalid }}
    </ul>
  </div>
  {{ endif }}

{{ /raven:errors }}

{{ endif }}

{{ raven:form formset="contact" }}
  <div class="js-float-label-wrapper">
    <label for="name">name</label>
    <input id="name" name="name" type="text" aria-required="true">
  </div>
  <div class="js-float-label-wrapper">
    <label for="email">email</label>
    <input id="email" name="email" type="email" aria-required="true">
  </div>
  <div class="js-float-label-wrapper">
    <label for="message">what would you like to say?</label>
    <textarea id="message" name="message" rows="4" aria-required="true"></textarea>
  </div>
  <input type="text" name="address" style="display:none;" value="{{ value:address }}">
  <input type="submit" value="send" class="btn submit" />
{{ /raven:form }}