    <footer class="section main_footer" role="contentinfo">
      <div class="global_wrapper">
        <div class="grid">
          <div class="links one-half-left">
            <h2>Get in touch:</h2>
            <h3>+1.312.239.8681</h3>
            <h3 class="email_address"><a href="mailto:contact@mattsoria.com?hello%20matt!">contact@mattsoria.com</a></h3>
            <ul class="social">
              <li>
                <a aria-hidden="true" href="http://www.twitter.com/poopsplat"><i class="icon-twitter"></i></a>
                <span class="screen-reader-text">twitter profile</span>
              </li>
              <li>
                <a aria-hidden="true" href="http://www.github.com/poopsplat"><i class="icon-github"></i></a>
                <span class="screen-reader-text">github profile</span>
              </li>
              <li>
                <a aria-hidden="true" href="http://www.dribbble.com/matt-soria"><i class="icon-dribbble"></i></a>
                <span class="screen-reader-text">dribbble profile</span>
              </li>
              <li>
                <a aria-hidden="true" href="http://www.vimeo.com/mattsoria"><i class="icon-vimeo"></i></a>
                <span class="screen-reader-text">vimeo profile</span>
              </li>
              <li>
                <a aria-hidden="true" href="http://cl.linkedin.com/in/mattsoria/"><i class="icon-linkedin"></i></a>
                <span class="screen-reader-text">linkedin profile</span>
              </li>
              <li>
                <a aria-hidden="true" href="skype:matt.soria1?userinfo"><i class="icon-skype"></i></a>
                <span class="screen-reader-text">skype profile</span>
              </li>
            </ul>
            <div class="dribbble">
              <div id="dribbble_shots"></div>
            </div>
          </div>
          <div class="contact one-half-right">
            <h2>Send me a message:</h2>
            <div id="contact">
              {{ theme:partial src="contact" }}
            </div>
          </div>
        </div>
        <blockquote id="tao">
          <footer>
            <cite>- Laozi -</cite>
          </footer>
        </blockquote>
      </div>
    </footer>