// Blog pages

.blog {
  .blog_nav {
    background: $base;
  }

  .featured_image {
    height: 22rem;
    overflow: hidden;
    position: relative;
    margin: -4rem -4rem 0;
    width: calc(8rem + 100%);
    img {
      width: 100%;
      max-width: none;
      position: relative;
    }
  }

  article {
    .post_header {
      text-align: center;
      margin-bottom: 4rem;
      background: $highlight;
      padding: 1rem 1rem 2rem;
      margin: -2rem -2rem 4rem;
      width: calc(100% + 4rem);
      h2 {
        color: $black;
        line-height: 1;
        font-size: $med;
        margin: 0 0 1rem;
        @include text-shadow(1px 1px $rgba);
      }
      .post_subtitle {
        color: $dark;
        font-size: 1.5rem;
      }
      .post_meta {
        color: $white;
        font-size: 1rem;
        line-height: 1.5;
        @include text-shadow(1px 1px $rgba);
        a {
          &:hover, &:focus, &:active {
            color: $black;
          }
        }
        span {
          margin-left: 0.5rem;
          &:first-child, &.eta {
            margin-left: 0;
            &:before {
              content: '';
              display: none;
            }
          }
          &:before {
            content: '·';
            margin-right: 0.5rem;
            display: inline-block;
          }
        }
      }
      .tweet {
        margin-top: 1rem;
        .btn {
          color: $highlight;
          background: $dark;
        }
      }
    }

    .post_content {
      margin: 0 auto;
      max-width: 800px;
      color: $black;
      font-family: $serif;
      h3 {
        margin: 2rem 0 1rem;
        color: $black;
        font-size: $med;
        font-family: $sans;
      }
      h4, h5, h6 {
        margin-bottom: 1rem;
        color: $dark;
        font-size: $mid;
        line-height: 1.5;
      }
      ul {
        padding-left: 1rem;
        li {
          list-style-type: disc;
        }
      }
      ol {
        padding-left: 1.5rem;
      }
      img {
        margin: 1rem auto;
      }    
      a {
        @include transition(text-shadow 0.3s ease 0s);
        position: relative;
        color: $black;
        text-decoration: underline;
        white-space: nowrap;
        &:hover, &:active, &:focus {
          @include text-shadow(1px 1px $base);
        }
      }
      blockquote {
        @include text-shadow(1px 1px rgba(255,255,255,0.25));
        margin: 2rem 0;
        padding: 0.5rem 2rem;
        width: 100%;
        border-left: 6px solid $black;
        background: $base;
        color: $black;
        font-style: italic;
        p {
          display: inline;
          font-size: $mid;
        }
        footer {
          cite {
            font-size: $small;
          }
        }
      }
      pre {
        margin: 2rem 0;
      }
      .post_image {
        margin-bottom: 1rem;
        img {
          margin: 0;
        }
        figcaption {
          padding: 0.25rem 0.5rem;
          background: rgba(0,0,0,0.05);
          color: $darkGray;
        }
      }
    }

  }

  .post_comments {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 4rem;
    padding-top: 4rem;
    border-top: 3px solid $rgba;
  }

  @include min-screen($bpMed) {
    article {
      .post_header {
        h2 {
          font-size: $big;
        }
      }
    }
    .featured_image {
      img {
        top: -25%;
      }
    }
  }
}

.blog-post {  
  .recent_blogposts {
    .grid {
      margin: 0 -1rem;
      width: calc(100% + 2rem);
    }
    .blog_post {
      margin: 0;
      width: 100%;
      display: block;
    }
  }
}