// base styles
*, *:after, *:before {
 @include box-sizing(border-box);
}

html {
  height: 100%;
  font-size: 14px; //Rem base unit
}

body {
  height: 100%;
  background: $black;
  font-family: $sans;
  background-image: $noise;
	@include font-smoothing(antialiased);
}

main {
  background: $light;
  background-image: $noise;
}

.clearfix {
  @include clearfix();
}

::selection {
  color: $black;
  background: $highlight;
  }
::-moz-selection {
  color: $black;
  background: $highlight;
}

a {
	color: inherit;
  text-decoration: none;
  &:active {
    outline: none;
  }
}

p {
  color: $dark;
  margin: 0 0 1rem;
  line-height: 1.5;
  font-size: $small;
  font-family: $serif;
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1"; // http://blog.typekit.com/2014/02/05/kerning-on-the-web/
  -webkit-font-feature-settings: "kern";
  a {
    color: $highlight;
    &:active {
      outline: 1px dotted;
    }
  }
}

ul, ol {
  padding: 0;
  li {
    list-style: none;
  }
}

img {
	max-width: 100%;
	height: auto !important;
}

hr {
  height: 1px;
  border: none;
  color: $rgba;
  margin: 2rem 0;
  background-color: $rgba;
  @include box-sizing(border-box);
}

h1, h2 {
  color: $white;
  font-weight: $bold;
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1"; // http://blog.typekit.com/2014/02/05/kerning-on-the-web/
  -webkit-font-feature-settings: "kern";
  @include text-shadow(1px 1px $rgba);
  .sub_header {
    display: block;
    font-size: $small;
    font-weight: $regular;
  }
}

h3, h4, h5, h6 {
  margin: 0;
  color: $white;
  font-weight: $regular;
  @include text-shadow(1px 1px $rgba);
  .sub_header {
    display: block;
    font-size: $small;
    font-weight: $regular;
  }
}

h2 {
  margin-top: 0;
  font-size: $med;
  @include text-shadow(1px 1px $rgba);
}

h3 {
  font-size: 1.3rem;
}

section {
  padding: 2rem;
  overflow: hidden;
  position: relative;
  @include clearfix();
}

.screen-reader-text {
  font: 0px/0 a;
  position: absolute;
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
}

.global_wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.paralax_content {
  position: fixed; 
  top: 20%; 
  left: 50%;
}

.read_more {
  color: $white;
  display: block;
  font-family: $sans;
  white-space: nowrap;
  @include text-shadow(1px 1px $rgba);
  i {
    display: inline-block;
    vertical-align: middle;
    @include translateX(0);
    @include transition(transform 0.3s ease 0s);
  }
}

.availability {
  font-size: $small;
  position: relative;
  &.available {
    &:before {
      color: $green;
      @include text-shadow(1px 0 6px $green);
    }
  }
  &.unavailable {
    &:before {
      color: $red;
      @include text-shadow(1px 0 6px $red);
    }
  }
  &:before {
    left: 0;
    content: '•';
    margin-right: 5px;
    position: relative;
    display: inline-block;
  }
}

@include min-screen($bpSmall) {

  html {
    font-size: 16px;
  }
  
  section {
    padding: 3rem;
  }

}

@include min-screen($bpMed) {

  section {
    padding: 4rem;
  }

}

@include min-screen($bpBig) {

  html {
    font-size: 18px
  }

}

@include min-screen($bpHuge) {

  html {
    font-size: 24px;
  }

  section {
    padding: 5rem;
  }

}