// Icon font styles

[class^="icon-"], [class*=" icon-"] {
  font-family: 'mmmatt-soria';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
  content: "\e613";
}
.icon-console:before {
  content: "\e616";
}
.icon-radio-unchecked:before {
  content: "\e617";
}
.icon-radio-checked:before {
  content: "\e61a";
}
.icon-close:before {
  content: "\e61b";
}
.icon-checkmark:before {
  content: "\e61e";
}
.icon-twitter:before {
  content: "\e61f";
}
.icon-vimeo:before {
  content: "\e620";
}
.icon-dribbble:before {
  content: "\e621";
}
.icon-github:before {
  content: "\e622";
}
.icon-linkedin:before {
  content: "\e623";
}
.icon-skype:before {
  content: "\e625";
}
.icon-minus:before {
  content: "\e614";
}
.icon-plus:before {
  content: "\e615";
}
.icon-eye:before {
  content: "\e618";
}
.icon-photo:before {
  content: "\e619";
}
.icon-video:before {
  content: "\e61c";
}
.icon-link:before {
  content: "\e61d";
}
.icon-uncategorized:before {
  content: "\e601";
}
.icon-computers:before {
  content: "\e602";
}
.icon-arrow-left:before {
  content: "\e62a";
}
.icon-arrow-down:before {
  content: "\e62b";
}
.icon-arrow-up:before {
  content: "\e62c";
}
.icon-arrow-right:before {
  content: "\e62d";
}
.icon-t2:before {
  content: "\54";
}
.icon-t1:before {
  content: "\74";
}
.icon-s:before {
  content: "\73";
}
.icon-r:before {
  content: "\72";
}
.icon-o:before {
  content: "\6f";
}
.icon-m:before {
  content: "\6d";
}
.icon-i:before {
  content: "\69";
}
.icon-a2:before {
  content: "\41";
}
.icon-a1:before {
  content: "\61";
}
.icon-search:before {
  content: "\e600";
}