// Variables

// Colors
$black: #262C2B;
$white: #fff;
$lightGray: #eee;
$gray: #c2c2c2;
$darkGray: #7c7c7c;
$red: #E44B4B;
$green: #63D67E;
$base: #FFDA38;
$light: #EFECD2;
$dark: #4b5556;
$rgba: rgba(0,0,0,0.20);

// Breakpoints
$bpSmall: 30em; // 480px
$bpMed: 43.75em; // 700px
$bpBig: 62.5em; // 1000px
$bpHuge: 187.5em; // 3000px

// Noise
$noise: url(http://api.thumbr.it/whitenoise-200x200.png?background=4ea6ca00&noise=1f1f1f&density=1&opacity=16);