<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!--
                                                                                                       
     _|_|_|_|_|                                                                _|              _|      
   _|          _|  _|_|_|      _|_|      _|_|    _|_|_|      _|_|_|  _|_|_|    _|    _|_|_|  _|_|_|_|  
 _|    _|_|_|  _|  _|    _|  _|    _|  _|    _|  _|    _|  _|_|      _|    _|  _|  _|    _|    _|      
 _|  _|    _|  _|  _|    _|  _|    _|  _|    _|  _|    _|      _|_|  _|    _|  _|  _|    _|    _|      
 _|    _|_|_|_|    _|_|_|      _|_|      _|_|    _|_|_|    _|_|_|    _|_|_|    _|    _|_|_|      _|_|  
   _|              _|                            _|                  _|                                
     _|_|_|_|_|_|  _|                            _|                  _|
     
    Hey web nerd! This is my source code...if you find anything goofy, let me know @poopsplat!
    Everything here is up at https://github.com/poopsplat/mattsoria if you want a closer look :)
-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Matt Soria &#8226; {{ title }}</title>
    <meta name="description" content="{{ seo-description }}" />
    <meta name="keywords" content="matt soria, web, design, tutorials, blog, art, illustration, illustrationist, development, frontend, front-end, freelance, digital nomad, photography, photographer, chicago, valparaiso, code, html, css, coder, writer, web industry, {{ seo-keywords }}" />
    <meta property="og:title" content="Matt Soria &#8226; Web Dood, Illustrationist, Happy Person." />
    <meta property="og:description" content="The online internet website of Web Dood, Illustrationist, and Happy Person, Matt Soria." />
    <meta name="twitter:card" content="The online internet website of Web Dood, Illustrationist, and Happy Person, Matt Soria." />
    <meta name="twitter:site" content="@poopsplat" />
    <meta name="twitter:creator" content="@poopsplat" />
    <meta name="twitter:title" content="Matt Soria &#8226; Web Dood, Illustrationist, Happy Person." />
    <meta name="twitter:description" content="The online internet website of Web Dood, Illustrationist, and Happy Person, Matt Soria." />
    <meta name="twitter:image" content="favicon.png" />

    <link rel="shortcut icon" type="image/ico" href="favicon.png" />
    <script type="text/javascript" src="//use.typekit.net/elg0uuw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="{{ theme:css }}">
    <script src="{{ theme:js src="libs/modernizr.custom.js" }}"></script>
  </head>
  <body class="{{ title|lower|slugify }}">
    {{ if {raven:success} }}
      <h3 class="form_success animated fadeInDownBig">Right on! Form sent - I'll get back to you soon! <i class="icon-close"></i></h3>
    {{ endif }}
    <header class="main_header" role="banner">
        <h1><a href="{{ homepage }}" class="grow">m<span class="mmmatt-a">a</span>tT sor<span class="mmmatt-i">i</span>A</a></h1>
	   {{ theme:partial src="nav" }}
    </header>
    <main role="main">
	   {{ layout_content }}
    </main>
	{{ theme:partial src="footer" }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="{{ theme:js src="build/main.min.js" }}"></script>
    <script type="text/javascript">
  	  var _gaq = _gaq || [];
  	  _gaq.push(['_setAccount', '{{ ga_account }}']);
  	  _gaq.push(['_setDomainName', '{{ ga_domain }}']);
  	  _gaq.push(['_trackPageview']);

  	  (function() {
  	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	  })();
  	</script>
  </body>
</html>