// Footer

.footer_main {
  @include clearfix();
  padding: 2rem 2rem 4rem;
  h2 {
    color: $base;
    font-weight: $medium;
  }
  .links {
    z-index: 0;
    position: relative;
    h3 {
      color: $light;
      margin-bottom: 0;
      line-height: 1em;
      font-size: 1.5rem;
      font-weight: $medium;
      @include transition(color 0.3s ease 0s);
      &:hover, &:active, &:focus {
        color: $base;
      }
    }
    p {
      text-align: left;
    }
    .social {
      @include clearfix();
      margin: 1.8rem calc(-16.666666667% + 3rem);
      li {
        float: left;
        text-align: center;
        width: 16.666666667%;
        display: inline-block;
        a {
          color: $dark;
          font-size: $med;
          position: relative;
          display: inline-block;
          i {
            display: block;
            position: relative;
            &:before {
              z-index: 1;
              position: relative;
            }
            &:after {
              top: 2.5%;
              left: 2.5%;
              width: 95%;
              z-index: 0;
              content: "";
              height: 95%;
              position: absolute;
              @include opacity(0);
              @include border-radius(50%);
              @include transition(opacity 0.3s ease 0s);
            }
          }
          &:hover {
            i {
              &:after {
                @include opacity(1);
              }
              &.icon-twitter:after {
                background: #00acee;
              }
              &.icon-github:after {
                background: #fff;
              }
              &.icon-linkedin:after {
                background: #0e76a8;
              }
              &.icon-vimeo:after {
                background: #44bbff;
              }
              &.icon-dribbble:after {
                background: #ea4c89;
              }
              &.icon-skype:after {
                width: 85%;
                top: 7.25%;
                left: 7.25%;
                height: 85%;
                background: #00aff0;
              }
            }
          }
        }
      }
    }
    .dribbble {
      margin-bottom: 2rem;
      #dribbble_shots {
        margin: 0 -2%;
      }
      h3 {
        color: $dark;
        margin: 0 0 1.5rem;
      }
      li {
        padding: 0 2%;
        width: 33.333333333%;
        display: inline-block;
        @include translateY(0);
        @include transition(transform 0.3s ease 0s, box-shadow 0.3s ease 0s);
        &:first-of-type {
          margin-left: 0;
        }
        &:hover, &:focus, &:active {
          @include translateY(-2px);
        }
        a {
          height: 0;
          width: 100%;
          float: left;
          overflow: hidden;
          padding-bottom: 71%;
          display: inline-block;
          border: 3px solid $dark;
        }
      }
    }
  }


  @include min-screen($bpSmall) { 

      padding: 3rem;

  }

  @include min-screen($bpMed) {

      padding: 4rem;
      .availability {
        text-align: right;
      }

  }

  @include min-screen($bpHuge) {

      padding: 5rem;

  }
}