// Forms

form {
  width: 100%;
  position: relative;
  .js-float-label-wrapper {
    &:first-of-type {
      margin-top: -1rem;
    }
  }
  label {
    @include opacity(0.5);
  }
  input, textarea {
    width: 100%;
    color: $dark;
    max-width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    background: $light;
    border: 3px solid $dark;
    @include box-shadow(1px 1px $rgba);
    &:first-child {
      margin-top: 0;
    }
    &:hover, &:focus, &:active {
      border-color: $highlight;
    }
  }

  textarea {
    margin-bottom: 1rem;
  }

  .submit {
    width: auto;
    display: inline-block;
  }
}

#contact {
  h3 {
    color: $light;
    margin-bottom: 1rem;
  }
}

.form_success {
  width: 100%;
  z-index: 30;
  color: $black;
  padding: 1rem;
  position: fixed;
  text-align: center;
  font-family: $bold;
  background: rgba(99,214,126,0.90);
  i {
    cursor: pointer;
    margin-left: 1rem;
    font-size: 0.75rem;
    display: inline-block;
    @include vendor(animation, fadeAway 4s);
    @include transition(transform 0.3s ease 0s);
    &:hover, &:focus {
      @include translateY(-1px);
    }
    &:active {
      @include translateY(2px);
    }
  }
}

.error-block {
  li {
    color: $light;
  }
}