// Recent blog posts

.recent_blogposts {
  background-color: $base;
  background-image: $noise;
  .blog_post {
    width: 100%;
    padding: 1rem;
    width: calc(100% + 2rem);
    background: rgba(0,0,0,0);
    margin:  1rem -1rem 2rem;
    outline: 3px solid rgba(0,0,0,0);
    @include transition(background 0.3s ease 0s, outline 0.3s ease 0s);
    &:first-of-type {
      margin-top: 0;
    }
    &:hover, &:focus, &:active {
      background: rgba(0,0,0,0.10);
      outline: 3px solid $rgba;
      .read_more {
        i {
          @include translateX(3px);
        }
      }
    }
    h3 {
      margin: 0;
      color: $black;
      font-weight: $medium;
    }
    h4 {
      margin: 0;
      color: $dark;
      font-size: $small;
      font-weight: $medium;
    }
    p {
      color: $dark;
      margin-bottom: 0;
    }
    .post_meta {
      color: $white;
      font-size: 1rem;
      @include text-shadow(1px 1px $rgba);
      a {
        &:hover, &:focus, &:active {
          color: $black;
        }
      }
      span {
        margin-left: 0.5rem;
        &:first-child, &.eta {
          margin-left: 0;
          &:before {
            content: '';
            display: none;
          }
        }
        &:before {
          content: '·';
          margin-right: 0.5rem;
          display: inline-block;
        }
      }
    }
    .read_more {
      display: inline-block;
    }
  }
}