// Secondary Nav

.secondary_nav {
  padding-top: 3px;
  background: $dark;
  text-align: center;
  ul {
    margin: 0;
    li {
      display: inline-block;
      a {
        color: $black;
        font-size: $small;
        display: inline-block;
        padding: 0.5rem 1rem 0.7rem;
        @include transition(color 0.2s ease 0s, background 0.2s ease 0s);
        &:hover, &:focus, &:active {
          color: $base;
          background: $black;
        }
      }
      .subnav {
        display: none;
      }
    }
  }
}